# --- Large AI Assets (The 5.6 GB stuff) ---
_DATA/
data/
*.ckpt
*.pth
*.pkl
*.npz
*.tar.gz

# --- HaMeR Specific Outputs ---
outputs/
example_data/
output_result.mp4

# --- Python Environment & Caches ---
__pycache__/
*.py[cod]
*$py.class
.env
.env.*
.venv
venv/
.ipynb_checkpoints/

# --- OS / IDE Clutter ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Compressed Files ---
*.zip
*.rar
*.7z



backend/.tmp_outputs/
backend/.tmp_uploads/
backend/Fast-HaMeR/
benchmark_outputs/
mediapipeGraphs/
outputs/
sam2_repo/
test_videos/
video.mp4